# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java_project\object_homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
